<div class="nav-top">
  <nav id="nav">
    <ul class="main-nav clearfix">
      <li>
        <a
          [routerLink]="['/']"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="router-link-active"
          >About Us</a
        >
      </li>
      <li>
        <a
          [routerLink]="['/']"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="router-link-active"
          >Our Way</a
        >
      </li>
      <li>
        <a
          [routerLink]="['/']"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="router-link-active"
          >Our Culture</a
        >
      </li>
      <li>
        <a
          [routerLink]="['/']"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="router-link-active"
          >Board Of Advisory</a
        >
      </li>
      <li>
        <a
          [routerLink]="['/']"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="router-link-active"
          >Contact Us</a
        >
      </li>
      <li>
        <a
          class="cta"
          [routerLink]="['/']"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="router-link-active"
          >Investing</a
        >
      </li>
    </ul>
  </nav>
</div>
