<div class="sidenav">
  <ul>
    <li class="icon">
      <img src="../../../assets/hybridhotels.png" alt="Icon" />
    </li>
    <li>
      <a
        [routerLink]="['/dashboard/overview']"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="nav-item-active"
      >
        <img src="../../../assets/sidenav-img/overview.png" alt="Overview" />

        <span>Overview</span>
      </a>
    </li>
    <!-- <br /> -->
    <li>
      <a
        [routerLink]="['/dashboard/wallet']"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="nav-item-active"
      >
        <img src="../../../assets/sidenav-img/wallet.png" alt="Wallet" />

        <span>Wallet</span>
      </a>
    </li>
    <!-- <br /> -->
    <li>
      <a
        [routerLink]="['/dashboard/properties']"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="nav-item-active"
      >
        <img
          src="../../../assets/sidenav-img/properties.png"
          alt="properties"
        />

        <span>Properties</span>
      </a>
    </li>
    <!-- <br /> -->
    <li>
      <a
        [routerLink]="['/dashboard/favorites']"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="nav-item-active"
      >
        <img src="../../../assets/sidenav-img/favorite.png" alt="Favorite" />

        <span>Favorites</span>
      </a>
    </li>
    <!-- <br /> -->
    <li>
      <a
        [routerLink]="['/dashboard/settings']"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="nav-item-active"
      >
        <img src="../../../assets/sidenav-img/settings.png" alt="Settings" />

        <span>Settings</span>
      </a>
    </li>
  </ul>
  <!-- <br /> -->
</div>
